# Flutter/Dart/Pub related files
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.lock

# Flutter build output directories
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
android/app/build/
android/.gradle/
android/app/app.iml
android/build/
android/.idea/

# Xcode specific files
ios/Runner.xcworkspace
ios/Pods/
ios/Podfile.lock
*.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
xcuserdata/
*.xcworkspace
DerivedData/
*.hmap
*.ipa
.idea/

# Android Studio specific files
.idea/
*.iml
.gradle/
local.properties

# VS Code specific files
.vscode/

# Symbolic Links
*.dart.js
*.dart.js.map
*.dart.js.deps

# Byte-compiled / optimized / DLL files
*.class
*.dex
*.jar
*.keystore
*.so

# Compiled object files and binaries
*.o
*.out
*.a
*.lo
*.la
*.lai
*.rej
*.pyc
*.pyo

# CMake
CMakeLists.txt.user

# Firebase r

# FVM Version Cache
.fvm/